@import "../../assets/css/sb-admin-2.min.css";
@import "../../../node_modules/fontawesome-free/css/all.min.css";


.border-danger {
    border-color: red !important;
}

.custom-error {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e12717;
    color: #e12717;
    background-color: #f8d7da;
    border-radius: 20px;
  }