.sta{
  display: flex;
  align-items: flex-end;
}
.sta1,.sta2{
  margin: 0 20px;
  min-width: 120px;
  background-color: #28865b;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}
.specs{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.spec{
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px silver solid;
}

